.endgame-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(42deg, #8bf5c3, #32a3e3, #c5f239);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 26s ease infinite;
    -moz-animation: AnimationName 26s ease infinite;
    animation: AnimationName 26s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position:0% 96%;
    }
    50% {
        background-position:100% 5%;
    }
    100% {
        background-position:0% 96%;
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position:0% 96%;
    }
    50% {
        background-position:100% 5%;
    }
    100% {
        background-position:0% 96%;
    }
}

@keyframes AnimationName {
    0% {
        background-position:0% 96%;
    }
    50% {
        background-position:100% 5%;
    }
    100% {
        background-position:0% 96%;
    }
}

svg {
    width: 100%;
    height: 50%;
    max-width: 100%;
    max-height: 50%;
}

.timer-wrap {
    display: flex;
    text-align: center; 
    font-family: Bangers;
    letter-spacing: 2px;
    flex-direction: column;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.text {
    color: rgb(0, 0, 0);
}
  
.timer {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    color: red;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.menu {
    background-color: rgba(253, 148, 109, 0.342);
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}

.screenshot {
    background-color: rgba(253, 148, 109, 0.342);
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 1000px) {
    .buttons {
        margin-top: 15px;
    }
    
    .menu {
        font-size: 12px;
        margin-right: 8px;
    }
    
    .screenshot {

        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .buttons {
        margin-top: 10px;
    }
    
    .menu {
        font-size: 10px;
        margin-right: 5px;
    }
    
    .screenshot {

        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    .buttons {
        margin-top: 10px;
    }
    
    .menu {
        font-size: 9px;
        margin-right: 4px;
    }
    
    .screenshot {

        font-size: 9px;
    }
}
